# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
venv/
.env.*
*.env.*

# Django
*.log
staticfiles/
media/
local_settings.py

# Migrations (optional, remove if you want to version them)
# */migrations/*

# Local database
db.sqlite3

# Compiled / optimized / DLL files
*.so

# Coverage
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# IDEs
.vscode/
.idea/

# Docker
*.pid
docker-compose.override.yml
postgres_data/
__container__/

# Node (if used in future)
node_modules/

# OS Files
.DS_Store
Thumbs.db
